* {
  margin: 0;
  padding: 0;
  
}

body {
  box-sizing: border-box;
  background-color: #fefefe;
  font-family: Helvetica;
  width: 100%;
  height: 100%;
}

.container {
  /*container pai*/
  width: 100%;
  height: 100%;
}

#barra-navegacao {
  /*cabeçalho com links*/
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #593d2d;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
#logo-cafe,
#acesso-rapido {
  /*logos de acesso rapido, login, pesquisa e compras*/
  height: 100%;
  align-items: center;
  justify-content: center;
}
#logo-cafe img {
  /*logo empresa*/
  height: 90%;
  width: 120px;
}

#nav-links ul {
  /*links cabecalho* lista*/
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

#nav-links li {
  /*links cabecalho (escritas)*/
  padding: 25px;
  color: #fefefe;
  text-shadow: 2px 2px 2px black;
  font-weight: 600;
  cursor: pointer;
}

#nav-links li:hover {
  background-image: url(/img/graos-de-cafe.png);
  background-size: 25%, 20%;
  background-repeat: no-repeat;
}

#acesso-rapido img {
  /*imagens acesso rapido*/
  height: 30px;
  width: 30px;
  padding: 35px;
  cursor: pointer;
}
#video {
  width: 100% !important;
  height: 100%;
  position: relative;
}
#principal {
  /*container pai dos próximos conteudos*/
  height: 100%;
  display: block;
  max-width: 2500px;
}
#Publicy {
  /*container pai propaganda*/
  width: 100% !important;
  display: flex;
  height: 720px;
  padding-top: 1.2rem;
}

#Publicy img {
  /*imagem maior à esquerda*/
  width: 50%;
  padding: 2.5px;
  height: 100%;
  border-radius: 35px;
}
.informe {
  /*container pai dos paragrafos da propaganda*/
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 15px;
}
.informe p {
  /*paragrafos da propaganda*/
  width: 80%;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  padding: 28px;
}
.informe h4 {
  /*titulo da propaganda*/
  font-size: 38px;
  margin: 0 auto;
}

.bold-green {
  /*titulo na cor verde*/
  color: rgb(1, 91, 1);
}
.bold-yellow {
  /*titulo na cor amarelo*/
  color: rgb(165, 165, 5);
}
#cultivo-cafe,
#preparo-cafe,
#consumo-cafe {
  /*imagens dos processos do cafe*/
  width: 75%;
  height: 100px;
}

.frase-cultivar,
.preparo,
.consumo {
  /*divs dos processos do cafe*/
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#history {
  /*historia da cafeteria*/
  margin-top: 10px;
  height: 480px;
  display: flex;
  justify-content: space-around;
  background-color: #593d2d;
  align-items: center;
}

.texto-um {
  /*titulo historia*/
  font-size: 45px;
  width: 45%;
  color: #fefefe;
  text-shadow: 2px 2px 2px black;
}
.texto-dois {
  width: 45%;
  font-size: 30px;
}

.Bold-coffe {
  color: #fefefe;
  text-shadow: 2px 2px 2px black;
}

#link-sobre-nos {
  /*button na parte inferior*/
  text-decoration: none;
  background-color: aliceblue;
  width: 200px;
  height: 80px;
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #26140e;
  margin-left: 200px;
}

#link-sobre-nos:hover {
  /*efeitos do buttom*/
  text-decoration: none;
  opacity: 0.2;
}

#cardapio { /*div contendo imagens dos pratos*/
  height: 2770px;
  display: grid;
  width: 100%;
  position: relative;
  
}

.bg-opacity {
  background-image: url(/img/Papel-de-Parede-Adesivo-Graos-de-Cafe--N010057.jpg);
  opacity: 0.1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
display: block;
}

.titulo-cardapio {
  /*titulo do cardapio escrita do topo*/
  position: absolute;
  margin-top: 30px;
  width: 40%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
.titulo-cardapio h3 {
  /*titulo forte*/
  font-size: 43px;
  color: #593d2d;
}
.titulo-cardapio p {
  /*subtitulo*/
  font-size: 15px;
  margin-left: 50px;
}

#ice-coffe {
  /*frapuccino*/
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  position: absolute;
  background-repeat: no-repeat;
  left: 2%;
  margin-top: 30vh;
  background-image: url(/img/frapuccino.png);
  background-size: 110vh;
  width: 45%;
  height: 90vh;
  text-align: center;
  text-decoration: none;
}

.titulo-produto {
  /*titulo de cada item do cardapio*/
  font-size: 38px;
  display: flex;
  color: #fefefe;
  font-weight: 700;
  text-shadow: 3px 3px 3px #26140e;
}

#breakfast {
  /*lanches - café da manha */
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  position: absolute;
  background-repeat: no-repeat;
  left: 50%;
  margin-top: 60px;
  background-image: url(/img/pão.jpg);
  background-size: 110vh;
  width: 45%;
  height: 90vh;
  text-align: center;
  text-decoration: none;
}

#salgados {
  /*salgados*/
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  position: absolute;
  left: 50%;
  margin-top: 80vh;
  background-image: url(/img/salgados.jpg);
  background-size: 900px;
  background-repeat: no-repeat;
  width: 45%;
  height: 70vh;
  text-align: center;
  text-decoration: none;
}

#doces {
  /*doces*/
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  position: absolute;
  left: 2%;
  margin-top: 130vh;
  background-image: url(/img/doces.jpg);
  background-size: 150vh;
  background-repeat: no-repeat;
  width: 45%;
  height: 90vh;
  text-align: center;
  text-decoration: none;
}

#cafe {
  /*cafe tradicional*/
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  position: absolute;
  left: 50%;
  margin-top: 160vh;
  background-image: url(/img/capuccino.jpg);
  background-size: 200vh;
  background-repeat: no-repeat;
  width: 45%;
  height: 38%;
  text-align: center;
  text-decoration: none;
}

#frutas {
  /*salada de frutas*/
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  position: absolute;
  left: 2%;
  margin-top: 224vh;
  background-image: url(/img/salada-fruta.jpeg);
  background-size: 140vh;
  background-repeat: no-repeat;
  width: 45%;
  height: 20%;
  text-align: center;
  text-decoration: none;
}

#sorvete {
  /*sorvetes e sobremesa gelada*/
  align-items: center;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  justify-items: center;
  position: absolute;
  left: 50%;
  margin-top: 282vh;
  background-image: url(/img/sorvete.jpg);
  background-size: 140vh;
  background-repeat: no-repeat;
  width: 45%;
  height: 20%;
  text-align: center;
  text-decoration: none;
}

#place {
  /*section contendo as fotos e o texto*/
  background-color: #733b27;
  display: flex;
}

.title-place {
  /* texto da area nossas instalações */
  text-align: center;
  color: #fefefe;
  text-shadow: 2px 2px black;
  width: 40%;
  padding: 25px;
  margin-top: 100px;
}

#subtitle {
  /*subtitulo da area do texto*/
  font-size: 18px;
}

.title-place h3 {
  /*titulo*/
  font-size: 25px;
}
.title-place p {
  /*paragrafo da area place*/
  font-size: 15px;
  padding: 5px;
  text-shadow: none;
  text-shadow: 1px 1px black;
}
.texto-place { /*paragrafo maior*/
  padding: 15px;
  font-size: 1px;
}

.images-places { /*fotos da div sobre o ambiente*/
  width: 50%;
  padding: 30px;
  gap: 80px;
  display: flex;
  flex-wrap: wrap;
}

#salao { 
  width: 300px;
  height: 200px;
  background-image: url(/img/salao.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}

#salao p {
  margin-top: 70px;
  margin-left: 140px;
  color: #fefefe;
  text-shadow: 2px 2px black;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  font-size: 25px;
}

#salao:hover, /*atributo de opacidade ao passar o mouse e mostrar a legenda*/
#space-kids:hover,
#hall-entrada:hover,
#kids-space:hover {
  opacity: 0.5;
}

#salao p:hover,/*atributo de opacidade ao passar o mouse e mostrar a legenda*/
#space-kids p:hover,
#hall-entrada p:hover,
#kids-space p:hover {
  opacity: 1;
  width: 100%;
  height: 100%;
}

#space-kids {
  width: 300px;
  height: 200px;
  background-image: url(/img/angulo2.png);
  display: flex;
  background-size: cover;
  justify-content: center;
  position: relative;
}

#space-kids p {
  margin-top: 80px;
  margin-left: 160px;
  color: #fefefe;
  text-shadow: 2px 2px black;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  font-size: 25px;
}
#hall-entrada {
  width: 300px;
  height: 200px;
  background-image: url(/img/Hall\ de\ entrada\ de\ u.png);
  display: flex;
  background-size: 220px;
  background-repeat: round;
  justify-content: center;
  position: relative;
}
#hall-entrada p {
  color: #fefefe;
  text-shadow: 2px 2px black;
  margin-top: 80px;
  margin-left: 130px;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  font-size: 25px;
}
#kids-space {
  width: 300px;
  height: 200px;
  background-image: url(/img/kid-space.png);
  display: flex;
  background-size: 220px;
  background-repeat: round;
  justify-content: center;
  position: relative;
}
#kids-space p {
  color: #fefefe;
  text-shadow: 2px 2px black;
  margin-top: 80px;
  margin-left: 150px;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  font-size: 25px;
}
.carrossel {
  width: auto;
  height: auto;
  display: block;
  overflow: hidden; /* Esconde tudo que ultrapassar o container*/
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /*Adiciona sombra ao redor*/
}
.slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out; /*Cria a animação de deslize/ transform → propriedade animada/ 0.5s → duração (meio segundo)/ ease-in-out → suavização */
}
.slides img{
  width: 100%;
  padding: 25px 25px;
  object-fit: contain; /*Faz a imagem caber dentro sem cortar*/
  display: block;
}

.right,.left {
  position: absolute;
  transform: translateY(-50%); /*Centraliza perfeitamente verticalmente*/
   transform: translateX(-50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease; /*Cria animação suave ao mudar cor*/
}
button:hover {
  background-color: rgba(0, 0, 0, 0.75); /*Deixa botão mais claro ao passar mouse*/
}
.esquerda {
  left: 10px;
}
.direita {
  right: 10px;
}

